@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto:wght@300&display=swap');

.c-section {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.c-section__title {
  background-color: rgb(35, 37, 42);
  border-top: 10px solid rgb(182, 183, 182);
  color: white;
  font-family: 'Merriweather', serif;
  padding: .75em 0;
  text-align: center;
  width: 85%;
}

.c-services {
  display: grid;
  gap: 3%;
  grid-template-columns: repeat(2, 41%);
  justify-content: center;
  padding: 0;
}

.c-services__item {
  background-color: rgb(247, 245, 247);
  list-style: none;
  padding: 1em;
  transition: box-shadow .3s;
}

.c-services__item:hover {
  box-shadow: 0px 2px 4px gray;
}

.c-services__item > h3 {
  font-family: 'Merriweather', serif;
  padding-left: 2em; 
}

.c-services__item > p {
  font-family: 'Roboto', sans-serif;
}