@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Open+Sans&display=swap');

:root {
  --font-title: 'Crete Round', serif;
  --font-body: 'Open Sans', sans-serif;
  --color-blue: rgb(0, 132, 197);
  --color-gray: rgb(108, 108, 108);
  --color-darkGray: rgb(48, 48, 48);
}

body {
  padding-bottom: 3em;
}
